@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$font-family-sans-serif: 'Roboto Condensed', sans-serif;
$font-family-serif: 'Instrument Serif', serif;
$font-family-base: $font-family-sans-serif;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$custom-colors: (
	"darkgreen": #004032,
	"lightgreen": #BADEB9,
	"yellow": #FFD300,
	"orange": #FF5E37,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...

/*fonts*/
.roboto {
	font-family: 'Roboto Condensed', sans-serif;
}
.instrument {
	font-family: 'Instrument Serif', serif;
}

/*gaver med sløjfer*/
.box-container {
	width: 70%;

	@include media-breakpoint-up(md){
		width: 40%;
	}

	@include media-breakpoint-up(lg){
		width: 80%;
	}
}
.bow-img {
	width: 60%;
	min-width: 200px;
	height: auto;
	margin-top: -30%;
}

/*donate page*/
.already-donated-text{
	font-size: 1.25rem;
}
.counter-text{
	font-size: 1.5rem;
}


/*thank-you page*/
.thank-you-header{
	font-size: 4rem;
}
.thank-you-text{
	font-size: 1.5rem;
}


/*info page*/
.info-header-text{
	font-size: 2rem;
}


/*navbar desktop*/
.wishingtree-text-navbar{
	font-size: 3rem;
}


/*navbar mobil*/
.bottom-nav {
	bottom: 0;
	width: 100%;
	padding: 20px 0;
	z-index: 10;
}
.nav-wrapper {
	position: relative;
	width: 260px;
}
.nav-icons {
	display: flex;
	justify-content: space-between;
	position: relative;
	z-index: 2;
}
.nav-icon {
	color: white;
	font-size: 1.6rem;
	width: 60px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.nav-highlight {
	position: absolute;
	width: 64px;
	height: 64px;
	background-color: white;
	border-radius: 50%;
	top: -20px;
	left: 0;
	transition: left 0.3s ease;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
}
.nav-highlight-inner {
	width: 50px;
	height: 50px;
	background-color: #004032;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 1.3rem;
}


@media only screen and (min-width: 768px){


	/*donate page*/
	.donate-an-amount-header{
		font-size: 2.5rem;
	}
	.donate-an-amount-text{
		font-size: 1.25rem;
	}
	.donate-boxes-text{
		font-size: 1.25rem;
	}
	.donate-boxes-button{
		font-size: 1.25rem;
	}
	.already-donated-text{
		font-size: 1.5rem;
	}
	.counter-text{
		font-size: 2.5rem;
	}


	/*info page*/
	.info-header-text{
		font-size: 1.5rem;
	}
	.info-middle-text{
		font-size: 1.25rem;
	}
	.info-list-items{
		font-size: 1rem;
	}
	.doner-et-beløb-knap{
		font-size: 1.25rem;
	}


	/*navbar desktop*/
	.nav-link-text{
		font-size: 13px;
	}


	/*thank-you page*/
	.thank-you-header{
		font-size: 5rem;
	}
	.thank-you-text{
		font-size: 2rem;
	}

}

@media only screen and (min-width: 1024px){

	/*navbar desktop*/
	.nav-link-text{
		font-size: 1.25rem;
	}

	/*info page*/
	.info-header-text{
		font-size: 2rem;
	}
	.info-middle-text{
		font-size: 1.5rem;
	}
	.info-list-items{
		font-size: 1.25rem;
	}
	.doner-et-beløb-knap{
		font-size: 1.5rem;
	}


	/*donate page*/
	.donate-an-amount-header{
		font-size: 3rem;
	}
	.donate-an-amount-text{
		font-size: 1.75rem;
	}
	.donate-boxes-text{
		font-size: 1.5rem;
	}
	.donate-boxes-button{
		font-size: 1.5rem;
	}


	/*thank-you page*/
	.thank-you-header{
		font-size: 6rem;
	}
	.thank-you-text{
		font-size: 3rem;
	}
}

@media only screen and (min-width: 1440px){

	/*navbar desktop*/
	.wishingtree-text-navbar{
		font-size: 4rem;
	}
	.nav-link-text{
		font-size: 1.5rem;
	}


	/*info page*/
	.info-header-text{
		font-size: 2.5rem;
	}
	.info-middle-text{
		font-size: 1.3rem;
	}
	.info-list-items{
		font-size: 1.5rem;
	}
	.doner-et-beløb-knap{
		font-size: 1.5rem;
	}


	/*donate page*/
	.donate-an-amount-header{
		font-size: 3.5rem;
	}
	.donate-an-amount-text{
		font-size: 2rem;
	}
	.donate-boxes-text{
		font-size: 1.5rem;
	}
	.donate-boxes-button{
		font-size: 1.5rem;
	}
	.already-donated-text{
		font-size: 2rem;
	}
	.counter-text{
		font-size: 3.5rem;
	}
}